input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

section img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0 !important;
}

figcaption {
    font-size: 10px;
    text-align: right;
    font-style: italic;
}

/* CONTACT FORM 7 ============================ */

.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form textarea  {
    width: 100%;
    font-family: "Open Sans";
    padding: 16px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 1px solid #e8e5e5fa;
    color: #523821;
}

.wpcf7-form textarea {
    margin-bottom: 0;
}

.wpcf7-form small {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    margin-top: 10px;
}

.wpcf7-form a {
    color: #869171;
}

span.wpcf7-list-item {
    margin: 0;
}

span.wpcf7-list-item input {
    transform: translateY(3px);
}

.wpcf7-form input[type="submit"] {
    font-family: 'Source Sans Pro';
    padding: 8px 22px;
    font-size: 22px;
    margin-top: 20px;
    background: #869171;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

div.wpcf7-mail-sent-ok {
    border: none;
}

span.wpcf7-not-valid-tip {
    color: #e81919;
    font-weight: 700;
    text-align: left;
}

div.wpcf7-validation-errors, 
div.wpcf7-acceptance-missing,
div.wpcf7-response-output {
    border: none;
    margin: 20px 0 0 0;
    padding: 0;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}